<div id="centerhomepage">
  <div id="homeheader">
    <a href="/">
      <div class="homealtlefton"><h6 class="homealttext">My Lists</h6></div>
    </a>
    <a href="/new_list">
      <div class="homealtmid"><h6 class="homealttext">New List</h6></div>
    </a>
  </div>
  <div class="border_line"></div>
  <div id="listtopbar">
    <div class="listfacts">
      <div class="lefttab">
      <form action="/" method="get">
        <button type="submit" id="backbuttomlist">Back</button>
      </form>
      <h6 id="listname"><%= @list.list_name %></h6>
      <h6 class="description"><%= @list.list_description %></h6>
        <div class="border_line_50"></div>
        <div id="additem">
        <form action="/add_item" method="post">
            <input type="hidden" name="list_id" value="<%= @list.id %>">
            <input type="text" name="item_name" placeholder="Item Name" id="itemname">
            <button type="submit" id="additembutton">Add</button>
        </form></div>
      <% for items in @item %>
            <div class="itembar">
              <div class="border_line_50_orange"></div>
              <div class="itemlist">
                <h6 class="itemlisttext"><%= items.item_name %></h6>
                <form action="/done_items/<%= items.id %>" method="post">
                  <button type="submit" id="doneitembutton">Done</button>
                </form>
              </div>
            </div>
      <% end %>
      </div>
      <div class="righttab">
        <h6 class="sharewith">Share with</h6>
        <div id=adduser>
        <form action="/add_user/<%= @list.id %>" method="post">
          <input type="text" name="username" placeholder="User Name" id="username">
          <button type="submit" id="adduserbutton">Add</button>
        </form>
        </div>
        <% for user in @users %>
            <div class="userbar">
              <div class="border_line_50_white"></div>
              <div class="userlist">
                <h6 class="itemlisttext"><%= user.username %></h6>
                <form action="/" method="post">
                  <button type="submit" id="removeuserbutton">Remove</button>
                </form>
              </div>
            </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>