<div id="center">
  <div class="topbar">
    <div id="settingsbar"><h6 id="settingstext">Settings</h6></div>
  </div>
  <h6>First name:</h6>
  <%= @current_user.first_name %>
  <br>
  <h6>Last name:</h6>
  <%= @current_user.last_name %>
  <br>
  <h6>Username:</h6>
  <%= @current_user.username %>
  <br>
  <h6>Mobil:</h6>
  <%= @current_user.mobil %>
  <br>
  <h6>Password:</h6>
  <%= @current_user.password %>
  <br>
  <h6>E-mail Address:</h6>
  <%= @current_user.e_mail_address %>
</div>
